.table-container {
    padding: 20px;
}

.table-wrapper {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    font-weight: bold;
}

.add-button, .submit-button, .cancel-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-button:hover, .submit-button:hover, .cancel-button:hover {
    background-color: #45a049;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    color: #007BFF;
}

.form-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

#lab {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.search-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.search-container label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.search-container input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}
.action-header {
    display: flex;
    justify-content: space-between; /* Espace entre les éléments (bouton & champ recherche) */
    align-items: center; /* Aligne verticalement */
    margin-bottom: 20px;
}
.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Ajout d'espace entre la recherche et le bouton */
}
.search-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover, .search-button:hover {
    background-color: #218838; /* Couleur légèrement plus foncée au survol */
}