.container {
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    height: 100vh; /* Hauteur de l'écran pour le conteneur */
    overflow-y: hidden; /* Empêche le défilement sur le conteneur principal */
}

.form-container {
    flex: 0 0 800px; /* Augmenter la largeur du formulaire à 800px */
    max-height: 90vh; /* Hauteur maximale de 90% de la vue */
    overflow-y: auto; /* Défilement vertical pour le formulaire */
    padding: 20px;
    border: 1px solid #ccc; /* Bordure autour du formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour le formulaire */
    background-color: #fff; /* Couleur de fond du formulaire */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* Inclure le padding dans la largeur */
    border: 1px solid #ccc; /* Bordure des champs de saisie */
    border-radius: 4px; /* Coins arrondis pour les champs de saisie */
}

button {
    padding: 10px 15px;
    background-color: #007bff; /* Couleur du bouton */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Coins arrondis pour le bouton */
}

button:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
}
