.wrapper {
    position: relative;
    width:420px; 
    height:570px;
    background-color: transparent;
    border: 1px dashed  #DC143C;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
   /* animation-name: bordure;*/
   /* animation-duration: 3s;*/
   /*animation-timing-function: ease;*/
   /* animation-delay: 4s;*/
   /* animation-iteration-count: infinite;*/
   /* animation-direction: alternate;*/
}
/*@keyframes bordure {
    from{
        border: 3px solid darkred;
    }
    to{
        border: 3px dashed darkgreen;
    }
}*/
.wrapper.active {
    height: 520px;
}
.wrapper:hover {
    border: 1px dashed darkgreen;
}

.wrapper .form-box {
    width:100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: translate .18s ease;
    translate: 0;
}

.wrapper.active .form-box.login {
    transition: none;
    translate: -400px;
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.active .form-box.register {
    transition: translate .18s ease;
    translate: 0;
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid  #DC143C;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box .icon {
    position: absolute;
    right:20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 4px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width:100%;
    height: 45px;
    background-color: darkgreen;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color:  #DC143C;
    text-decoration: none;
    font-weight: 600;
    text-decoration: underline;
}
.register-link p a:hover {
    text-decoration: underline ;
}

.imgtravaux {
    width:1px;
    height: 10px;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.h{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color:  #DC143C;
}
.hi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #DC143C;
}
.phraseMot{
    color: black;
    text-decoration: underline;
}


.global {
    font-family: Georgia, 'Times New Roman', Times, serif;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/yo.jpg');
  background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .go-to-admin {
    position: fixed;
    top: 20px; /* Ajuste la position verticale */
    right: 20px; /* Positionner à droite */
    z-index: 10; /* S'assurer que le bouton est visible par-dessus le reste de la page */
}

/* Style du bouton pour l'admin */
.admin-dashboard-btn {
    background-color:  #DC143C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.admin-dashboard-btn:hover {
    background-color: darkred;
}
/* Pour ajouter une flèche ou une icône à droite du select */

  